@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@400;700&display=swap');

:root {
    --white: #efefef;
    --milk: #dae0d4;
    --grey: #ababab;
    --deep-blue: #2b455e;
    --light-red: #ed3d3f;
    --text-black: #333;
    --gradient: linear-gradient(to right, #072142, #8c2b7a 50%, #ff4d5a);

    --bg-color-1: #73755d;
    --bg-color-2: #c3d4b4;
    --bg-color-3: #d7d4df;
    --text-color-1: #343434;
    --text-color-2: #414141;
}

.navbar-a {
text-decoration: none;
color: #212529;
}

.card:hover{
    scale: 1.01;
    transition: 0.2s;
    box-shadow:0 1rem 3rem rgba(0,0,50,.50)!important;
}

.custom-button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color:  black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .2s ease-in;
 }
 .custom-button:hover  {
    background: #fc5a5a;
 }

body {
/* background-image: url(img/welcome2.jpeg); */
/* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/welcome.jpeg'); */

/* background-image: linear-gradient(to right, #f7fff6, #dcffde 55%, #ecffec); */
/* background-color: var(--bg-color-2); */
background-color: #D3E4CD;
/* color: white; */
/* color: #FEF5ED; */

background-repeat: no-repeat;
background-size: cover;

}

body h2 {
color: var(--text-color-1);
}

.card-text {
color: var(--text-color-2);
}

#logo {
    width: 3em;
    border-radius: 50%;
    margin-right: 0.5em;
    margin-left: 2em;
}
#breakline {
    height: 1px;
        background-color: var(--text-color-2);
        margin: 0 auto;
        width: 90%;
}

.beverage-img {
    height: 255px;
    background-position: center;
    background-size: cover;
}
#beverage-1 {background-image: url(/img/beverage1.png);}
#beverage-2 {background-image: url(/img/beverage2.jpeg);}
#beverage-3 {background-image: url(/img/beverage3.jpeg);}
#beverage-4 {background-image: url(/img/beverage4.jpeg);}
#beverage-5 {background-image: url(/img/beverage5.jpeg);}
#beverage-6 {background-image: url(/img/beverage6.jpeg);}
#beverage-7 {background-image: url(https://images.askmen.com/1080x540/2021/07/15-104443-what_is_proffee_here_s_why_fitness_pros_are_combining_protein_with_coffee.jpg);}
#beverage-8 {background-image: url(https://images.everydayhealth.com/images/heart-health/coffee-and-your-heart-stimulant-or-stressor-alt-722x406.jpg);}


